@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Vsite Studentska evidencija</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Dobrodosli na Vsite Studentsku evidenciju</h2>
        <p>
            Studentska evidencija sluzi za evidentiranje studenata
        </p>
    </div>
    <div class="col-md-4">
        <h2>Posjetite Vsite stranicu</h2>
        <p>Informirajte se o fakultetu.</p>
        <p><a class="btn btn-default" href="https://www.vsite.hr/">Vsite button</a></p>
    </div>

</div>