@using Microsoft.AspNetCore.Identity
@using Studentska_Evidencija_PIN.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE>
<html>
<head>
    <title>Naslovnica</title>
    <link href="@Url.Content("~/css/main.css")" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        var blink_speed = 1500;
        var t = setInterval(function () {
            var elem = document.getElementById('welcome');
            elem.style.visibility = (elem.style.visibility == 'hidden' ? '' : 'hidden');
        }, blink_speed);


        $(document).ready(function () {
            $("#intro").css("font-style", "italic");
        });

        $(document).ready(function () {
            $("#educInfo").css("color", "#931027");
        });

        $(document).ready(
            function () {
                $('.naslovi').click(
                    function () {
                        $(this).parent().find('.linkovi').toggle();
                        $(this).toggleClass('xyz');
                    }
                );
            }
        );

        function changeText(id) {
            id.innerHTML = "Pridruži nam se!";
        }
    </script>

    <style>

        footer {
            background - color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>

<body>
    <div><h2 id="welcome">Dobrodošli na studentsku evidenciju Tehničkog Fakulteta</h2> </div>

    <div class='container carousel'>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner text-center" role="listbox">
                <div class="item active">
                    <div class="col-lg-8 pull-right">
                        <img src="~/images/pc1.jpg" alt="Studenti">
                    </div>
                    <div class="col-lg-4">
                        <h2 id="rastemo">
                            Rastemo...<br>
                            <small>
                                jer ulažemo u svoje studente
                            </small>
                        </h2>
                        <p>
                        <p class="text-success">
                            U deset godina povećali smo broj studenata gotovo <mark>pet puta</mark>, jer 2008. imali smo
                            ukupno 103 studenta, a danas ih imamo 477. Prošle akademske
                            godine povećali smo i upisnu kvotu na preddiplomski studij sa 60 na 80 studenata i
                            popunili smo cijelu kvotu.
                        </p>
                        <p class="text-info">
                            Za usporedbu, 2005. godine kada je studij pokrenut, upisali smo 29 studenata,
                            kazala je pročelnica Odjela za informatiku prof. dr. Patrizia Poščić na svečanoj
                            sjednici održanoj povodom prvog jubileja Odjela.

                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-8 pull-right">
                        <img src="~/images/pc2.jpg" class="img-circle" alt="Fakultet">
                    </div>
                    <div class="col-lg-4">
                        <h2 id="info">
                            Povijest <br>
                            <small>
                                našeg fakulteta...
                            </small>
                        </h2>
                        <p id="intro">
                            Godina osnutka Fakulteta je 1960., tada pod imenom Strojarskog fakulteta. Nakon prvotnog školovanja diplomiranih inženjera strojarstva,
                            Fakultet od šk. god. 1969./70. školuje
                            i diplomirane inženjere brodogradnje te mijenja ime u Strojarsko-brodograđevni fakultet.
                            Pod ovim imenom djeluje do 1973. godine kada je preimenovan u Tehnički fakultet.
                            Fakultet je šk. god. 1971./72. započeo sa izvođenjem nastave na studiju građevinarstva, koji se 1976. godine osnivanjem Građevinskog fakulteta odvaja u
                            samostalnu organizaciju.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-8 pull-right">
                        <img src="~/images/pc3.jpg" class="img-rounded" alt="Student">
                    </div>
                    <div class="col-lg-4">
                        <h2 id="education">
                            Obrazovanje<br>
                        </h2>
                        <p id="educInfo">
                            Studijski programi koji se izvode na Fakultetu rezultat su tradicionalnih, ali i
                            novih znanstvenih dostignuća u znanstvenim poljima strojarstva, brodogradnje, elektrotehnike i računarstva te srodnim tehničkim poljima.
                            U više su navrata inovirani i prilagođavani potrebama gospodarstva. Uz obavezne predmete, studijski programi sadrže i velik broj izbornih predmeta,
                            čime se postiže njihova prilagodljivost individualnim potrebama i željama studenata.
                        </p>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>

    <div class="container text-center">

        <div class="t01">
            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="loggin">
                    <div class="alignleft"><a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"><b>Pozdrav @UserManager.GetUserName(User)!</b></a></div>
                    <div class="alignright"><button type="submit" class="btn btn-link navbar-btn navbar-link"><img src="~/images/logout.png" alt="register" width="150" height="50" /></button></div>
                </form>
            }
            else
            {
                <div class="alignleft">
                    Ukoliko niste naš student registrirajte se za uvid u evidenciju! <br />
                    <a asp-area="" asp-controller="Account" asp-action="Register"><img src="~/images/studentreg.jpg" alt="register" width="180" height="60" /></a>
                </div>
                <div class="alignright">
                    Ulogirajte se ukoliko ste naš student! <br />
                    <a asp-area="" asp-controller="Account" asp-action="Login"><img src="~/images/login.png" alt="log in" width="130" height="60" /></a>
                </div>
            }
        </div>

            <div>
                <p id="quote">
                    <a><strong>Motivation!</strong><br /> There is no elevator to success. You need to take the stairs!</a><br />
                    <img src="~/images/giphy.gif" alt="stairs" width="130" height="120" />
                </p>
            </div>

            <div class="row">
                <div class="col-sm-4">

                    <div class="alert alert-info">
                        <strong>Info blok</br></strong> Kutak za buduće studente...
                    </div>

                    <div class="preuzmite">
                        Klikom na link preuzmite našu brošuru i informirajte se!<br>
                        <p><a href="http://www.riteh.uniri.hr/media/filer_public/bd/24/bd241b5c-e59c-4829-9037-d61d52c84cb0/riteh_brosura_a5-15.pdf">Brošura tehničkog fakulteta</a></p>
                    </div>


                    <div class="rastemo">
                        ili posjetite našu original web stranicu:
                        <p><a href="http://www.riteh.uniri.hr/">Go to original website</a></p><br />
                    </div>

                    <div class="upisi">
                        <h3>Upisi:</h3>
                        <a href="http://www.riteh.uniri.hr/obrazovanje/upisi-studenata-akad-god-20182019/">Upiši se!</a>

                    </div>

                    <div class="znanje">
                        <h2 id="znanost">Znanost</h2>
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Otvori za info</button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">

                            <div class="modal-dialog">
                                <!-- Modal content-->


                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Znanost</h4>
                                    </div>

                                    <div class="modal-body">
                                        <p>
                                            Naši se studiji inženjerstva odvijaju u istraživačkom okruženju; nastavnici koji drže predavanja i vježbe sudjeluju u istraživanjima
                                            unutar širokog raspona tehničkih znanosti (strojarstvo, brodogradnja, elektrotehnika, računarstvo, temeljne tehničke znanosti i
                                            interdisciplinarne tehničke znanosti). Studenti preddiplomskih, diplomskih i poslijediplomskih studija imaju priliku usko surađivati s
                                            istraživačima različitih akademskih i profesionalnih pozadina na uzbudljivim istraživačkim i razvojnim projektima.
                                        </p>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                    <h1 onclick="changeText(this)">Klikni me!</h1>
                </div>

                <div class="col-sm-4">

                    <div class="alert alert-info">
                        <strong>Info blok <br/></strong> Kutak za upisane studente...
                    </div>

                    <div class="well">
                        <p id="rastemo">Najbolji motivacijski govor:</p>
                        <iframe width="250" height="200" src="https://www.youtube.com/embed/XBiEC6zfmKY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>


                    <div class="buduci"><b>Korisne web stranice:</b>

                        <div id="wrap">
                            <div id="main">


                                <div id="left">
                                    <div class="grupa">
                                        <div class="naslovi">Fakultetski linkovi</div>
                                        <div class="linkovi">
                                            <a href="https://moodle.srce.hr/2017-2018/">Merlin</a>
                                            <a href="https://www.isvu.hr/nastavnici/prijava">Nastavnički portal</a>
                                            <a href="http://prostorije.uniri.hr/ispitivanja/month.php?area=16">Raspored kolokvija</a>
                                            <a href="http://spoint.riteh.hr/#">Share point</a>
                                            <a href="https://www.isvu.hr/studomat/prijava">Studomat</a>
                                            <a href="http://prostorije.uniri.hr/week.php?area=16">Rezervacija prostorija</a>
                                        </div>
                                    </div>
                                </div>


                                <div class="grupa">
                                    <div class="naslovi">Zavodi</div>
                                    <div class="linkovi">
                                        <a href="http://er.riteh.hr/index.php/ER">Engineering review</a>
                                        <a href="http://www.riteh.uniri.hr/ustroj/zavodi/zae/">Zavod za automatiku</a>
                                        <a href="http://www.riteh.uniri.hr/ustroj/zavodi/zm/">Zavod za materijale</a>
                                        <a href="http://www.riteh.uniri.hr/ustroj/zavodi/zbimt/">Zavod za brodogradnju</a>
                                        <a href="http://www.riteh.uniri.hr/ustroj/zavodi/zmfri/">Zavod za mehaniku</a>
                                        <a href="http://www.riteh.uniri.hr/ustroj/zavodi/zr/">Zavod za računarstvo</a>
                                    </div>
                                </div>


                                <div class="grupa">
                                    <div class="naslovi">Informatički časopisi</div>
                                        <div class="linkovi">
                                            <a href="#">Bug</a>
                                            <a href="#">Vidi</a>
                                            <a href="#">PC Chip</a>
                                            <a href="#">Hacker</a>
                                            <a href="#">PCplay</a>
                                        </div>
                                </div>

                             </div>
                          </div>
                       </div>
                     </div>

                <div class="col-sm-4">
                    <div class="alert alert-info">
                        <strong>Info blok <br /></strong> Kutak za profesore...
                    </div>

                    <nav id="navbar" class="navbar navbar-light bg-light">
                        <a class="navbar-brand" href="http://www.mobilnost.hr/hr/">ERASMUS+</a>
                        <ul class="nav nav-pills">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dokumentacija</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="http://eur-lex.europa.eu/legal-content/HR/TXT/PDF/?uri=CELEX:C2017/361/04&amp;from=EN">Poziv na podnošenje prijedloga</a><br />
                                    <a class="dropdown-item" href="http://mobilnost.hr/cms_files/2018/01/1516789492_celex-c2017-431-08-hr-txt.pdf">Ispravak poziva</a><br />
                                    <a class="dropdown-item" href="http://www.mobilnost.hr/cms_files/2018/03/1521018836_erasmus-plus-programme-guide2-hr.pdf">Vodič</a><br />
                                    <a class="dropdown-item" href="http://www.mobilnost.hr/hr/sadrzaj/sudjelovanje/obrazovanje-i-osposobljavanje/erasmus-strukovno-obrazovanje-i-osposobljavanje/dokumentacija-za-prijavu-2018-/">Dokumentacija za prijavu 2018</a><br />
                                    <a class="dropdown-item" href="http://www.mobilnost.hr/hr/sadrzaj/sudjelovanje/obrazovanje-i-osposobljavanje/erasmus-strukovno-obrazovanje-i-osposobljavanje/potpora-pri-prijavi-2018-/">Potpora pri prijavi 2018</a><br />
                                    <a class="dropdown-item" href="http://www.mobilnost.hr/hr/sadrzaj/sudjelovanje/obrazovanje-i-osposobljavanje/erasmus-strukovno-obrazovanje-i-osposobljavanje/provedba-projekata-2018-/">Provedba projekata 2018</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <div class="ers">
                        <p id="ersNaslov">ERASMUS+ NATJEČAJ ZA ODRŽAVANJE NASTAVE 2018/2019</p> 
                        Tehničko veleučilište objavljuje Erasmus+ natječaj za odlazak na održavanje nastave u zimskom semestru ak.
                        godine 2018/19. Natječaj traje dva mjeseca stoga Vas molimo da kontaktirate ustanove na koje želite ići da biste imali njihov odgovor te ga
                        priložili u Natječajnu dokumentaciju.<br />
                        Detaljne informacije o prijavi možete pročitati u priloženim dokumentima.
                        Natječaj za Erasmus+ mobilnost za djelatnike objavljuje se dva puta u akademskoj godini – u rujnu za ljetni semestar i u ožujku za zimski semestar slijedeće akademske godine.
                        Za prijavu na natječaj potrebno je ispuniti Prijavni obrazac i Plan rada odnosno Nastavni plan, ovisno da li se prijavljujete za stručno usavršavanje (plan rada) ili održavanje nastave
                        (nastavni plan), priložiti kopiju domovnice i životopis.
                    </div>

                </div>

        </div>


        <div>
            <footer>
                <div id="banner">
                    <div class="inline-block">
                        <a href="https://www.instagram.com/explore/locations/137217173040425/tehnicko-veleuciliste-zagreb/?hl=hr">
                            <img src="~/images/instagram.jpg" alt="Instagram" width="50" height="50">
                         </a>
                    </div>

                    <div class="inline-block">
                        <a href="https://twitter.com/tvz_zagreb">
                        <img src="~/images/twitter.png" alt="Twitter" width="50" height="50">
                        </a>
                    </div>

                    <div class="inline-block">
                        <a href="https://www.facebook.com/TVZ.Zagreb/">
                        <img src="~/images/facebook.png" alt="Facebook" width="40" height="40">
                        </a>
                    </div>
                </div>

            </footer>
        </div>
    </div>

</body>


</html>

