body {
    margin: 0px auto;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
}
#welcome {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding: 30px;
  
}
.t01 {
   padding:50px;
}

#quote {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    font-size: large;
    padding: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
#id1 {
    text-align: center;
    text-transform: uppercase;
    color: blue;
    text-decoration: underline;
}
#znanost {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: dotted;
    padding: 30px;
}
#rastemo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
}

#info {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
}
#education {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
}
.inline-block {
    display: inline-block;
   
}
.carousel {
    padding-bottom: 25px
    
}

.carousel img {
        padding-top: 20px;
}

.carousel h2 {
        color: #000000;
    }

.carousel h2 small {
            color: #000000
        }

.carousel col-lg-4 p {
        text-align: center;
}


.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
body{
    background-image:url(../images/background.png);
}
#upisi {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding:inherit
}

#p1{
    font-stretch:condensed;
}

#tablica{
    text-align:left;
}

.linkovi a {
    display: block;
    text-decoration: none;
}

.grupa {
    border: 1px solid silver;
    width: 200px;
    margin-bottom: 20px;
 
}

.naslovi {
    cursor: pointer;
    background-image: url(../images/plus.png);
    background-repeat: no-repeat;
    background-position: top-left;
    padding-left: 20px;
    border: 2px solid silver;
}
.linkovi {
    display: none;
}

.naslovi.xyz {
    background-image: url(../images/minus.png);
}

.grid {
  border-style:dashed;
}
#tablicaFont {
    font-weight: bold;
    font-style: italic;
}